apiVersion: v1
kind: Pod
metadata:
  name: good-pod
  labels:
    app: demo
spec:
  containers:
  - name: nginx
    image: ghcr.io/kyverno/test-verify-image:signed@sha256:3b5e4d99c1b9b8e5c6f7e8d9c0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8
    ports:
    - containerPort: 80