name: Kyverno Policy Test
on: [push, pull_request]
jobs:
  kyverno-test:
    runs-on: ubuntu-latest
    permissions: {}

    name: Install Kyverno CLI and Run Tests
    steps:
      - uses: actions/checkout@v4

      - name: Install Kyverno CLI
        uses: kyverno/action-install-cli@v0.2.0
        with:
          release: 'v1.9.5'

      - name: Check install
        run: kyverno version

      - name: Run tests
        run: kyverno cli test ./policies --fail-on-error