name: Kyverno Policy Test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Kyverno CLI
        run: curl -LO https://github.com/kyverno/kyverno/releases/download/v1.13.0/kyverno-cli_v1.13.0_linux_x86_64.tar.gz && tar xzf kyverno-cli_* && sudo mv kyverno-cli /usr/local/bin/kyverno
      - name: Run tests
        run: kyverno cli test ./policies --fail-on-error